{% extends "../base.html" %}
{% load mathfilters %}

{% block css_link %}
<link href="/assets/css/guestbook.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div id="guestbook">
	<form action="/guestbook/add" method="post">{% csrf_token %}
		<input type="hidden" name="a" value="insert">
		<table>
			<tr>
				<td>이름</td><td><input type="text" name="name"></td>
				<td>비밀번호</td><td><input type="password" name="pass"></td>
			</tr>
			<tr>
				<td colspan=4><textarea name="content" id="content"></textarea></td>
			</tr>
			<tr>
                {% if request.session.authuser is not None %}
				<td colspan=4 align=right><input type="submit" VALUE=" 확인 "></td>
                {% endif %}
			</tr>
		</table>
	</form>
	<ul>
		<li>
			{% for guestbook in guestbook_list %}
			<table>
				<tr>
					<td>{{ guestbook_list.count | add:1 | sub:forloop.counter }}</td>
					<td>{{ guestbook.name }}</td>
					<td>{{ guestbook.regdate | date:'Y-m-d H:i:s' }}</td>
                    {% if request.session.authuser is not None %}
					<td><a href="/guestbook/deleteform?id={{guestbook.id}}">삭제</a></td>
                    {% endif %}
				</tr>
				<tr>
					<td colspan=4>
						{{ guestbook.message | linebreaksbr }}
					</td>
				</tr>
			</table>
			{% endfor %}
			<br>
		</li>
	</ul>
</div>
{% endblock %}