{% extends "../base.html" %}
{% load mathfilters %}

{% block css_link %}
<link href="/assets/css/board.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
			<div id="board">
				<form id="search_form" action="" method="post">{% csrf_token %}
					<input type="text" id="kwd" name="kwd" value="">
					<input type="submit" value="찾기">
				</form>
				<table class="tbl-ex">
					<tr>
						<th>번호</th>
						<th>제목</th>
						<th>글쓴이</th>
						<th>조회수</th>
						<th>작성일</th>
						{% if request.session.authuser is not None %}
						<th>삭제</th>
						{% endif %}
					</tr>
					{% for board in board_list %}
					<tr>
						<td>{{ board_list.count | add:1 | sub:forloop.counter }}</td>
						<td><a href="/board/viewform?id={{board.id}}">{{ board.title }}</a></td>
						<td>{{ board.user_id }}</td>
						<td>{{ board.hit }}</td>
						<td>2015-10-11 12:04:20</td>
						{% if request.session.authuser is not None %}
						<td><a href="/board/delete?id={{board.id}}" class="del" >삭제</a></td>
						{% endif %}
					</tr>
					{% endfor %}
				</table>
				<div class="bottom">
					{% if request.session.authuser is not None %}
					<a href="/board/writeform" id="new-book">글쓰기</a>
					{% endif %}
				</div>
			</div>
{% endblock %}